/* Styles that make the demo lovelier */

body{
	background: url("stardust.png");
}

h1 {
	font-family: "Helvetica Neue","HelveticaNeue","Helvetica",sans-serif;
	border-bottom: 2px solid #000;
	line-height: 2.0;
	font-size: 100%;
	font-weight: 500;
}


/* Bump down the HUD's position so it looks nice */

x-status-hud{
  margin-top: 3em;
}

/* Customize spinner state colors so that they're not washed out on our background */

.spinner:before,
.spinner:after,
.spinner > div:before,
.spinner > div:after {
  background: #eee;
}

.spinner:before {
  background: #555;
}

.spinner:after {
  background: #777;
}

.spinner > div:before {
  background: #999;
}

.spinner > div:after {
  background: #bbb;
}

