/* Styles that make the demo lovelier */

body{
	background: #fff;
}

h1 {
	font-family: "Helvetica Neue","HelveticaNeue","Helvetica",sans-serif;
	border-bottom: 2px solid #000;
	line-height: 2.0;
	font-size: 100%;
	font-weight: 500;
}


/* Bump down the HUD's position so it looks nice */

x-status-hud{
  margin-top: 3em;
}

